<main>
  <section id="hero-section">
    <h1>Minimalist Room</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    <img src="../../assets/small/hero-image.jpg"
    srcset="../../assets/small/hero-image.jpg 480w, ../../assets/medium/hero-image.jpg 768w, ../../assets/large/hero-image.jpg 1200w"
    alt="hero image, couch with table in front">
  </section>

  <section id="brief">
    <div id="project-overview">
      <h4>Project Overview</h4>
      <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
      <p id="para-footer"><span>July 22 - 2022</span> <span>Interior Design - Furniture</span></p>
    </div>

    <div id="design-process">
      <h4>Design Process</h4>
      <p> Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
      <p>Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
    </div>
  </section>

  <app-image-grid></app-image-grid>

  <app-call-to-action></app-call-to-action>
</main>

